@import '@/styles/variables';
@import '@/styles/styles';

.header {
    background-color: $color-bg-1;
    top: 0;
    position: sticky;
    z-index: 20;
}

.container {
    @extend .container;

    position: relative;
    display: flex;

    .items {
        flex: 1;
        justify-content: space-between;
        align-items: center;
    }
}
