// COLORS
$color-bg-1: #336D80;

$color-white: #FFFFFF;
$color-foreground: #033141;

$color-primary: #4A8EA0;
$color-secondary: #CAE7EF;

// FONTS
$font-montserrat: var(--font-montserrat);
$font-unbounded: var(--font-unbounded);

// BREAKPOINTS
$breakpoint-large: 1024;
$breakpoint-tablet: 768;
$breakpoint-mobile: 425;
