@import '@/styles/variables';
@import '@/styles/styles';
@import '@/styles/mixins';

.bg {
    background-color: $color-foreground;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.container {
    padding-top: 3rem;
    padding-bottom: 1rem;
    @extend .container;

    @include responsive(mobile) {
        padding: 1rem 0;
    }

    hr {
        background-color: rgba($color-primary, 0.5);
    }

    .requisitesContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 3rem 0;

        a {
            @include responsive(large) {
                @include fontStyles($font-montserrat, 20px, 400, $color-white);
            }

            @include responsive(medium) {
                @include fontStyles($font-montserrat, 18px, 400, $color-white);
            }

            @include responsive(tablet) {
                @include fontStyles($font-montserrat, 14px, 400, $color-white);
            }

            @include responsive(mobile) {
                @include fontStyles($font-montserrat, 14px, 400, $color-white);
            }
        }

        @include responsive(large) {
            @include fontStyles($font-montserrat, 20px, 400, $color-white);
        }

        @include responsive(medium) {
            @include fontStyles($font-montserrat, 18px, 400, $color-white);
        }

        @include responsive(tablet) {
            @include fontStyles($font-montserrat, 14px, 400, $color-white);
        }

        @include responsive(mobile) {
            @include fontStyles($font-montserrat, 14px, 400, $color-white);
        }
    }

    .linksContainer {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 3rem 0;

        @include responsive(tablet) {
            margin: 2rem 0;
        }

        @include responsive(mobile) {
            margin: 1rem 0;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 3rem;

            @include responsive(mobile) {
                flex-direction: column;
                text-align: center;
                justify-content: center;
                gap: 1rem;
            }

            li a {
                @include responsive(large) {
                    @include fontStyles($font-unbounded, 2.7cqw, 400, $color-white);
                }

                @include responsive(medium) {
                    @include fontStyles($font-unbounded, 2.5cqw, 400, $color-white);
                }

                @include responsive(tablet) {
                    @include fontStyles($font-unbounded, 2.5cqw, 400, $color-white);
                }

                @include responsive(mobile) {
                    @include fontStyles($font-unbounded, 18px, 400, $color-white);
                }
            }
        }
    }

    .policyContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
        margin-bottom: 1rem;

        a {
            text-decoration: underline;

            @include responsive(large) {
                @include fontStyles($font-montserrat, 16px, 400, $color-white);
            }

            @include responsive(medium) {
                @include fontStyles($font-montserrat, 16px, 400, $color-white);
            }

            @include responsive(tablet) {
                @include fontStyles($font-montserrat, 14px, 400, $color-white);
            }

            @include responsive(mobile) {
                @include fontStyles($font-montserrat, 14px, 400, $color-white);
            }
        }
    }
}
