@import '@/styles/variables';
@import '@/styles/styles';

.main {
    display: none;

    @include responsive(tablet) {
        display: flex;
        justify-content: space-between;
    }

    @include responsive(mobile) {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 80px;
        height: auto;
    }

    .container {
        @extend .container;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
