@import '@/styles/variables';
@import '@/styles/styles';

.header {
    background-color: $color-bg-1;
    top: 0;
    position: sticky;
    z-index: 10;
}

.logo {
    width: 80px;
    height: auto;
}

.container {
    @extend .container;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
