@import '@/styles/mixins';
@import '@/styles/variables';
@import '@/styles/styles';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-white;

    @extend .container;
}

.table {
    position: relative;
    width: 100%;
    border-spacing: 10px;

    tr {
        border-top: 1px solid $color-bg-2;
        display: table-row;

        @include responsive(mobile) {
            display: flex;
            flex-wrap: wrap;
        }

        &:first-child {
            border: none;
        }

        td:nth-child(2) {
            @include responsive(large) {
                padding-left: 8rem;
            }

            @include responsive(medium) {
                padding-left: 4rem;
            }
        }

        td:last-child {
            width: auto;

            @include responsive(large) {
                width: 600px;
            }

            @include responsive(medium) {
                width: 600px;
            }

            @include responsive(mobile) {
                flex: 0 0 100%;
            }
        }
    }

    td {
        padding: 2rem;
        vertical-align: top;

        ul {
            list-style-type: disc;
        }

        @include responsive(large) {
            @include fontStyles($font-unbounded, 24px, 400, $color-foreground);
            margin: 3rem 0;
        }

        @include responsive(medium) {
            @include fontStyles($font-unbounded, 24px, 400, $color-foreground);
            margin: 2rem 0;
        }

        @include responsive(tablet) {
            @include fontStyles($font-unbounded, 16px, 400, $color-foreground);
        }

        @include responsive(mobile) {
            @include fontStyles($font-unbounded, 14px, 400, $color-foreground);
            flex: 1;
            padding: 1rem;
            align-self: center;
        }
    }

    li {
        @include responsive(large) {
            @include fontStyles($font-montserrat, 14px, 500, $color-foreground);
        }

        @include responsive(medium) {
            @include fontStyles($font-montserrat, 14px, 500, $color-foreground);
        }

        @include responsive(tablet) {
            @include fontStyles($font-montserrat, 12px, 500, $color-foreground);
        }

        @include responsive(mobile) {
            @include fontStyles($font-montserrat, 12px, 500, $color-foreground);
        }
    }
}

.image {
    height: auto;

    @include responsive(large) {
        width: 300px;
    }

    @include responsive(medium) {
        width: 600px;
    }

    @include responsive(tablet) {
        width: 600px;
    }

    @include responsive(mobile) {
        width: 65px;
    }
}

.button {
    margin: 2rem auto;
}
